/* base resources */
@import "base-resources/normalize";
@import "base-resources/_fonts";
@import "base-resources/_colors";
@import "base-resources/_specification";

/* sticky footer begin */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

// .main {
//   flex: 1 1 auto;
// }

/*-------HEADER-------*/

.logo {
  width: 100px;
  height: 124px;
}
.slogan {
  color: #2e2e2e;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 150%;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  text-align: left;
}
.navigation__link {
  color: #2e2e2e;
  font-size: 1.6rem;
  line-height: 150%;
  font-family: "Roboto";
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 150px;
}
.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  z-index: 5;
  & img {
    margin-right: 40px;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  z-index: 5;
  & li {
    margin: 0 25px;
  }
  & li:first-child {
    margin-left: 0;
  }
}

/*-----FOOTER----*/

.circle {
  width: 30px;
  height: 30px;
  background-color: #2e2e2e;
  border-radius: 50%;
  margin: 0 155px;
}
footer {
  font-family: "Roboto";
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.contacts {
  display: flex;
  margin-left: 40px;
  & a {
    font-family: "Roboto";
    color: #2e2e2e;
    font-size: 2.4rem;
  }
}
.numbers {
  display: flex;
  & a:first-child {
    margin-right: 10px;
  }
}
.email {
  display: flex;
  & .circle {
    margin-right: 0;
  }
}
.social_networks {
  margin-right: 25px;
  & a {
    margin: 0 15px;
  }
  & a:first-child {
    margin-left: 0;
  }
  & a:last-child {
    margin-right: 0;
  }
}

/*-----------MAIN---------*/
.main__content {
  height: calc(100vh - 270px);
}
.main__slider {
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sections {
  height: 90%;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main__title {
  font-family: "MontserratB";
  font-size: 30rem;
  color: #2e2e2e;
  line-height: 276px;
  margin-left: 25px;
}
.btn__link {
  border: 3px solid transparent;
  position: relative;
  bottom: 0;
  left: 72%;
  // margin-top: 120px;
  width: 260px;
  height: 64px;
  background-color: #7febc7;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(127, 235, 199, 0.7);
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
    background-color: #ff5959;
    box-shadow: 0 4px 40px rgba(255, 89, 89, 0.7);
    & p {
      transition: all 0.5s ease;
      color: #ffffff;
      margin-right: 50px;
    }
  }
}
.btn__more {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  & p {
    margin-right: 30px;
    color: #309286;
    font-size: 2rem;
    font-family: "Roboto";
  }
}
.btn_OnClick {
  border: 3px solid #7febc7;
  background-color: #fff;
  & p {
    margin-right: 50px;
    color: #309286;
  }
  & img {
    background-color: #ffffff;
  }
  &:hover {
    background-color: #fff;
  }
}
.BigLogo {
  width: 640px;
  height: 640px;
  position: absolute;
  top: 0;
  right: -255px;
  z-index: 1;
}
/*------слайдер--------*/

[data-fs-scroll] {
  position: relative;
}

[data-fs-scroll] .page {
  position: fixed;
  list-style: none;
}

[data-fs-scroll] .page.vertical {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

[data-fs-scroll] .page.horizontal {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

[data-fs-scroll] .page li {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 5px 2px;
  cursor: pointer;
}

[data-fs-scroll] .page li.active {
  border-radius: 6px;
  background: #fff;
}

[data-fs-scroll] .page.horizontal li {
  display: inline-block;
}

[data-fs-scroll] .page.horizontal .active {
  width: 14px;
}

[data-fs-scroll] .page.vertical .active {
  height: 14px;
}

/*-----------WORK STAGES----------------*/
.categoryTitle {
  font-family: "MontserratB";
  font-size: 6.4rem;
  font-weight: 900;
  color: #2e2e2e;
  margin: 30px 0 20px 25px;
}
.workStages {
  position: relative;
  z-index: 5;
  background-color: #7febc7;
  box-shadow: 0 0 30px rgba(127, 235, 199, 0.7);
  height: calc(100% - 270px);
  // max-height: 70%;
  // display: flex;
  // flex-direction: column;
}
.stages__line {
  display: flex;
  flex-direction: row;
  &_up {
    justify-content: flex-start;
    margin-bottom: 70px;
  }
  &_down {
    justify-content: flex-end;
    margin-bottom: 50px;
  }
}
.stages__item {
  margin: 0 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.item__number {
  font-family: "MontserratB";
  font-size: 6.4rem;
  font-weight: 900;
  color: #2e2e2e;
  & p {
    margin-left: 20px;
  }
  & span {
    font-family: "Roboto";
    font-size: 2.4rem;
    text-transform: capitalize;
  }
}
.red__line {
  margin-top: -23px;
  margin-bottom: 10px;
  width: 160px;
  height: 16px;
  background-color: #ff5959;
}
.item__description {
  font-family: "Roboto";
  font-size: 1.6rem;
  color: #2e2e2e;
  width: 80%;
  align-self: flex-end;
  line-height: 150%;
}
#close_btn {
  position: absolute;
  top: -55px;
  right: 50px;
}
#close_btn circle {
  transition: all 0.3s ease;
}
#close_btn:hover circle {
  transition: all 0.3s ease;
  fill: #ff5959;
}

/*--------ADVANTAGES--------*/

.advantages {
  height: calc(100vh - 270px);
  box-shadow: 0px 0px 30px rgba(127, 235, 199, 0.7);
  &__line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item a {
    position: initial;
    margin-top: 0;
  }
}
