mixin doctype(title)
    doctype html
    html(lang='ru')
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            link(rel="stylesheet" href="../styles/main.css")
            link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
            script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")
            title #{title}

