.advantages
        p.categoryTitle преимущества
        .advantages__line
            .stages__item.advantages__item
                .item__number
                    p 01 
                    .red__line
                .item__description
                    p Мы умеем и любим делать сайты. Но и от других интересных проетов, конечно же, не откажемся! Причем, любим делать это красиво, учитывая и картинки в хорошем качестве, и «во-о-он те летающие штучки», и интересную идею.
                a(href="#").btn__link 
                    div.btn__more
                        p Подробнее
                        img(src="../../img/arrow.svg", alt="arrow")
            .stages__item.advantages__item
                .item__number
                    p 02 
                    .red__line
                .item__description
                    p Чем интереснее задача, тем выгоднее для вас стоимость разработки! Вы можете или выбрать из комплексных решений, или обсудить с нами наиболее оптимальный для Вас вариант.
                a(href="#").btn__link 
                    div.btn__more
                        p Подробнее
                        img(src="../../img/arrow.svg", alt="arrow")
            .stages__item.advantages__item
                .item__number
                    p 03 
                    .red__line
                .item__description
                    p В отличии от многих веб-студий, мы сами отвечаем за SEO-оптимизацию вашего сайта. А также с удовольствием позоботимся о том, чтобы к Вам пришло еще больше клиентов, с помощью SMM-продвижения.
                a(href="#").btn__link 
                    div.btn__more
                        p Подробнее
                        img(src="../../img/arrow.svg", alt="arrow")
