footer
    .contacts
        .numbers
            div
                a(href="tel:+375256556346") +375 25 655-63-46, 
                a(href="tel:+375291688974") +375 29 168-89-74
            div.circle
        .email
            a(href="mailto:pingvinlinux13@gmail.com") pingvinlinux13@gmail.com
            div.circle
    .social_networks
        a(href="https://www.facebook.com/" target="_blank")
            img(src="../../img/fb-logo.svg", alt="fb")
        a(href="https://www.instagram.com/?hl=ru" target="_blank")
            img(src="../../img/inst-logo.svg", alt="inst")
        a(href="https://vk.com/" target="_blank")
            img(src="../../img/vk-logo.svg", alt="vk")




script(src='../../js/script.js')
script(src='../../js/jquery.fsscroll.js')
script(src='../../js/jquery.min.js')