header
    .preview
        img.logo(src="../../img/kaktus-logo.svg", alt="logo")
        .slogan
            p Веб-студия, 
            p которая вам поможет :)
    ul.navigation
        li
            a.navigation__link(href="#") Главная
        li
            a.navigation__link(href="#") Разработка сайтов
        li
            a.navigation__link(href="#") Услуги
        li
            a.navigation__link(href="#") Портфолио
        li
            a.navigation__link(href="#") Блог
        li
            a.navigation__link(href="#") Контакты
