//- .main__content
//-     p.main__title этапы работы
//-     a(href="#").btn__link 
//-         div.btn__more
//-             p Подробнее
//-             img(src="../../img/arrow.svg", alt="arrow")
.main__content
    img.BigLogo(src="../../img/BigLogo.svg", alt="BigLogo")
    .container.main__slider(data-fs-scroll='')
        .sections
            .section.section0
                p.main__title этапы работы
                //- a(href="#", onclick = 'onClicka()').btn__link#demo
                //-     div.btn__more
                //-         p Подробнее
                //-         img(src="../../img/arrow.svg", alt="arrow")
            .section.section1
                p.main__title преиму щества
                //- a(href="#", onclick = 'onClicka()').btn__link#demo
                //-     div.btn__more
                //-         p Подробнее
                //-         img(src="../../img/arrow.svg", alt="arrow")
            .section.section2
                p.main__title кейсы
                //- a(href="#", onclick = 'onClicka()').btn__link#demo
                //-     div.btn__more
                //-         p Подробнее
                //-         img(src="../../img/arrow.svg", alt="arrow")
            .section.section3
                p.main__title наши цены
                //- a(href="#", onclick = 'onClicka()').btn__link#demo
                //-     div.btn__more
                //-         p Подробнее
                //-         img(src="../../img/arrow.svg", alt="arrow")
            .section.section3
                p.main__title контакты
                //- a(href="#", onclick = 'onClicka()').btn__link#demo
                //-     div.btn__more
                //-         p Подробнее
                //-         img(src="../../img/arrow.svg", alt="arrow")
        a(href="#", onclick = 'onClicka()').btn__link#demo
            div.btn__more
                p Подробнее
                img(src="../../img/arrow.svg", alt="arrow")