.workStages
    <svg id = 'close_btn' width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
    <circle  cx="70" cy="66" r="60" fill="#309286"  />
    </g>
    <path d="M41.7159 94.2843L70.0002 66M70.0002 66L98.2845 37.7157M70.0002 66L41.7159 37.7157M70.0002 66L98.2845 94.2843" stroke="white" stroke-width="8" stroke-linecap="round"/>
    <defs>
    <filter id="filter0_d" x="0" y="0" width="140" height="140" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0.498039 0 0 0 0 0.921569 0 0 0 0 0.780392 0 0 0 0.7 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    </defs>
    </svg>
    p.categoryTitle этапы работы
    .stages
        .stages__line.stages__line_up
            .stages__item
                .item__number
                    p 01 <span> анализ
                    .red__line
                .item__description
                    p Cайт начинается с  анализа отрасли, в которой он хочет успешно работать. Для этого нужно собрать и  максимум информации и выделить самое важное. В итоге определяется целевая аудитория готового продукта и  четкая стратегия. 
            .stages__item
                .item__number
                    p 03 <span> прототип
                    .red__line
                .item__description
                    p Прототип - схема расположения отдельных блоков и элементов интерфейса на страницах сайта. Также тут окончательно согласовывается структура и функционал сайта.
            .stages__item
                .item__number
                    p 05 <span> верстка
                    .red__line
                .item__description
                    p Здесь происходит магия. Картинка, созданная дизайнером, превращается в веб-страницу. Учитываются осоебнности отображения вашего сайта в разных браузерах и мобильных устройст. Оптимизируется скорость отображения.
            .stages__item
                .item__number
                    p 07 <span> наполнение
                    .red__line
                .item__description
                    p Заключительный этап создания сайта, но не работы в целом. Можно добавлять новые страницы, наполнять их информацией, публиковать статьи. Дальше наш ждет продвижение вашего сайта.
        .stages__line.stages__line_down
            .stages__item
                .item__number
                    p 02 <span> проект
                    .red__line
                .item__description
                    p На этом этапе структурируется вся собранная информация определяется набор опций, нехобходимых сайт для эффективной работы. 
            .stages__item
                .item__number
                    p 04 <span> дизайн
                    .red__line
                .item__description
                    p Сайт получает свой собственный уникальный внешний вид, в котором учитывается  и специфика деятельности, и поставленные задачи, и целевая аудитория.
            .stages__item
                .item__number
                    p 06 <span> программирование
                    .red__line
                .item__description
                    p К сайту подключается система управления (CMS), она же «админка». И сайт перестает быть таким статичных, а контент можно менять с помощью панели управления. CMS выбирается еще на этапе проектирования.
            .stages__item
                .item__number
                    p 08 <span> продвижение
                    .red__line
                .item__description
                    p Нужно не просто создать сайт, но и реализовать Ваши цели: рассказ о Вашем любимом деле, увеличение продаж или потенциальной аудитории. А для этого нужно, чтобы как можно больше людей узнали о Вас. 






