$montserrat: "Montserrat", sans-serif;

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  src: url("../fonts/CenturyGothic.ttf");
  font-family: "Gothic";
}
@font-face {
  src: url("../fonts/Felixti.TTf");
  font-family: "Felixti";
}
@font-face {
  src: url("../../fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}
@font-face {
  src: url("../../fonts/Montserrat__Black.ttf");
  font-family: "MontserratB";
}
@font-face {
  src: url("../../fonts/Montserrat_Regular.ttf");
  font-family: "MontserratN";
}
